@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideAndRotate {
  0% {
    transform: translateX(-280%) translateY(-50%) rotate(0deg);
  }

  50% {
    transform: translateX(-100) translateY(10%) rotate(0deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}
.flying-image-container {
  position: fixed;
  bottom: 20px;
  transition: bottom 0.5s ease; /* Lägg till en övergångseffekt */
}

#backToTopButton {
  visibility: hidden;
}
