@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideAndRotate {
  0% {
    transform: translateX(-280%) translateY(-50%) rotate(0deg);
  }

  50% {
    transform: translateX(-100) translateY(10%) rotate(0deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.flying-image-container {
  position: fixed;
  bottom: 20px;
  transition: bottom 0.5s ease; /* Lägg till en övergångseffekt */
}

#backToTopButton {
  visibility: hidden;
}
.glass-card {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
